/*section-2:-Customization of "Hello everybody section*/
/*text alignment*/
/*start*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/*end*/


/*section-1:-navigation bar */
/*margin defination*/
/*start*/
.navbar {
    margin-bottom: 0px;
    border: 1px solid transparent;
}
/*end*/

/*description section alignment*/
/*start*/
.shdescription{
	text-align: center;
	max-width: 1000px;
	margin-left:172px;
	margin-right:172px;

}
/*about page setup*/
.shabt{
	text-align: left;
	font-family: 'David Libre', serif;
	font-size: 15px;
}

/*about page setup finish*/

/*social network section txt align*/
.socialnetwork{
    text-align: center;
}
/*txt aligned*/

.hello{
	font-size: 15px;
	max-width: 1000px;
	margin-left:172px;
	margin-right:172px;
	text-align:center;
}
.whatt{
	font-size: 15px;
	max-width: 1000px;
	margin-left:172px;
	margin-right:172px;
	text-align:center;

}

.formarea{
	max-width: 600px;
	margin-left:400px;
	margin-right:172px;

}